 @{
    ViewData["Title"] = "Explore";
}
<section id="about-info" class="bg-light py-3" >
    <div class="container">
        <div class="info-left">
            <h1 class="l-heading"><span class="text-primary">About</span> Hotel</h1>
            <p>At Guest ReservationsTM, we're focused on connecting travelers to the most relevant deals possible.

                We aggregate the best possible deals for our users by connecting with over 100,000 hotels worldwide.
                As an independent travel network, we can get you the same deals you expect with a bigger travel agency
                or direct from the hotel.
                
                </p>
            <p>Rather than sending thousands of customers to the same listing page, we focus on connecting each user to
             the most relevant hotel. Through our dynamic and user friendly website, we're able to connect users to the
            perfect hotel. The result is a streamlined booking experience so you can focus on packing and not booking! 
            Combine our hotel deals with our "all devices" booking engine, strict privacy focus, and world-class support and 
            you have the Guest ReservationsTM difference.</p>
        </div>
        <div class="info-right">
            <img src="~/images/octanetabout.jpg" alt="Hotel">
        </div>
    </div>
</section>

<div class="clr"></div>

<section id="testimonials" class="py-3">
<div class="container">
    <h2 class="l-heading">What Our Guest Says</h2>
    <div class="testimonials bg-warning">
        <img src="https://tse3.mm.bing.net/th?id=OIP.BmuXoe5gnJoKMy6fWrFzcAHaE7&pid=Api&P=0&h=180" alt="Diana">
        <p> Room was super clean, very large and comfortable. The bed was very comfortable and it was great to have a coffee maker 
            and fridge in the room. The location was fantastic. The staff were friendly.</p>
    </div>

    <div class="testimonials bg-warning">
        <img src="https://tse2.mm.bing.net/th?id=OIP.F4KqM0dfh-LeiIE0N7BrGgHaE8&pid=Api&P=0&h=180" alt="alyssa"> 
        <p> I don’t know how I didn’t discover this hotel before- easily one of the best ones I’ve stayed at in the city. 
            Convenient location, clean and large rooms (which seem to be recently renovated), easy check in and check out process, 
            small fridge that fits a lot of food, punctual and efficient housekeeping, the list is too long. Super!</p>
    </div>
</div>
</section>
    <footer id="main-footer">
        <p>E-Hotel &copy; All Rights Reserverd</p>
    </footer>   