@{
    ViewData["Title"] = "Home Page";
}


 <header>
<div id="showcase">
    <div class="container">
        <div class="showcase-content">
            <h1><span class="text-warning">Enjoy</span> <span class="text-light">Your Stay</span></h1>
            <p class="text-light">Elaborately detailed and elegantly created, our rooms reflect a desirable lifestyle
            </p>
            <a class="btn" href="aboutus.html">About Our Hotels</a>
        </div>
    </div>
</div>
</div>
    </header>   
    


    <section id="home-info" class="bg-dark">
        <div class="info-img"></div>
        <div class="info-content">
            <h2><span class="text-warning">The History</span> Of Our Hotel</h2>
            <p>The history of the hotel industry is a long one. Dating back to ancient times, hotels have played a 
                key role in the growth of the tourism industry. But hoe has the hotel industry changed over the 
                years</p>
                <a href="AboutUs.cshtml" class="btn btn-light">Read more</a>
        </div>

    </section>

    <section id="features">
        <div class="box bg-light">
         <i class="fa-solid fa-hotel fa-3x"></i>
         <h3>Great location</h3>
         <p>Lot more Location To Explore From The World</p>
        </div>
        
        <div class="box bg-warning">
            <i class="fa-solid fa-utensils fa-3x"></i>
            <h3>Free Meals</h3>
            <p>Enjoy your unlimited Meals with Unbelievable Atmos</p>
        </div>

        <div class="box btn-light">
            <i class="fa-solid fa-dumbbell fa-3x"></i>
            <h3>Fitness Rooms</h3>
            <p>Be Fit Be Unique Around The World</p>
        </div>
    </section>

<div class="clr"></div>
    <footer id="main-footer">
        <p>E-Hotel &copy; All Rights Reserverd</p>
 </footer>