
@{
    ViewData["Title"] = "Explore";
}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
     integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="w3l-loginblock signinform">
        <div class="logo">
            <a class="brand-logo" href="index.html">Login form</a>
        </div>
        <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">
                    <form action="VerifyLogin" method="post" class="">
                        <div class="form-grid">
                            <div class="input-field">
                                <label> Username or Email </label>
                                <input type="text" name="text" id="text" placeholder="Username" required="">
                            </div>
                            <div class="input-field">
                                <label> Password</label>
                                <input type="password" name="Password" id="Password" placeholder="Password" required="">
                            </div>
                        </div>
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Remember Me</p>

                        </label>
                        <button type="submit" class="btn btn-primary btn-style">Login now</button>
                    </form>
                </div>
                <div class="info-grids social-login-details align-self">
                    <p class="text-center mb-3">Or login with</p>
                    <div class="social-media">
                        <a href="#facebook" class="fb"><span class="fa fa-facebook" aria-hidden="true"></span> Login
                            with facebok</a>
                        <a href="#twitter" class="tw"><span class="fa fa-twitter" aria-hidden="true"></span>
                            Login with twitter</a>
                    </div>
                    <p class="text-center mt-4">Not yet registered? <a href="#signup">signup</a>
                        here</p>
                </div>
            </div>
        <!-- //main content -->
        <!-- footer -->
        <div class="footer">
           
        <!-- footer -->
    </div>
