<div class="header">
			<h1>Dual Registration Form</h1>
		</div>
		<!---header--->
		<!---main--->
			<div class="main">
				<div class="main-section">
				<div class="registration-section">
					<h2>register or sign in</h2>
					<div class="social-icons">
						<a href="#"><i class="icon"></i><span>Sign in with twitter</span></a>
						<a href="#"><i class="icon1"></i><span>Sign in with facebook</span></a>
						<a href="#"><i class="icon2"></i><span>Sign in with google +</span></a>
					</div>
					<div class="register-form">
					<div class="registration-form">
					<form  action="RegisterDB" method="post">
						<input type="text" name="Username" placeholder="Username">
						<input type="text" name="Email" placeholder="Email">
						<input type="text" name="Phone_Number" placeholder="Phone_Number">
						<input type="text" name="Address" placeholder="Address">
						<input type="text" name="City" placeholder="City">
						<input type="text" name="Postal/zipcode" placeholder="Postal/zipcode">
						
						<input type="submit" value="submit">
					</form>
					</div>
					<div class="clear"></div>
					</div>
					<p>forgot your password? click<a href="#"> here </a></p>
				</div>
			</div>
			<div class="footer">
			<p>&copy 2016 Dual Registration Form . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>